.App {
 
  text-align: center;
  color:black;
  background-color:white;
}
.Players{
  color: white;
  margin: auto;
  width: 50%;
  list-style: none;
  background-color: blue;
  font-size: 150%;
}

 .pushable {
    background: darkblue;
    border: none;
    border-radius: 12px;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
   .front {
    display: block;
    padding: 12px 30px;
    text-align: center;
    border-radius: 12px;
    font-size: 1.25rem;
    background: #ebe7e8;
  
    color: darkslateblue;
    transform: translateY(-8px);
  }
  .pushable:active .front {
    transform: translateY(-1px);
  }
  .AddPlayerForm{

    font-size: large;
    
  }

 




